<div ng-controller="LoginCtrl" class= "contacts-container dashboard-container" >
  <div class="add-edit-card" ng-show="loginFormShow">
      <div class="card">
        <h3>Log In</h3>
        <form ng-submit="login()" >
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control"  placeholder="Enter Email" ng-model="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"  placeholder="Enter Password" ng-model="password">
          </div>
          <div>
            <p style= "color:red">{{ error }}</p>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button ng-click=toSignUp() class="btn btn-primary">Sign Up</button>
          </div>  
        </form>  
      </div>
    </div>
    
  <div class="add-edit-card" ng-show="signUpFormShow">
    <div class="card">
      <h3>Sign up</h3>
      <form ng-submit="signUp()" >
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control"  placeholder="Enter Email" ng-model="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control"  placeholder="Enter Password" ng-model="password">
        </div>
        <div class="form-group">
          <label>Password Confirmation</label>
          <input type="password" class="form-control"  placeholder="Enter Password" ng-model="passwordConfirmation">
        </div>
        <div>
          <p style= "color:red">{{ error }}</p>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button ng-click=toLogin() class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>  
</div>